@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
      width: 100%;
      height: 100vh;
      color: white;
      background-color: #0B0F2B; /* Fallback background color */
      background-image: url(./assets/Background.svg);
      background-size: cover;
      background-repeat: no-repeat;

    }
  }



  
  .card-content {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 90% 100%, 0 100%);
    border-radius: 20px;
    background-clip: padding-box; 
  }
  
  .card-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    clip-path: inherit;
    z-index: -1;
    pointer-events: none;
    border: 2px solid transparent; /* Adjust border thickness as needed */
    background: linear-gradient(#0B0F2B, #0B0F2B), linear-gradient(152.14deg, rgba(21, 191, 253, 0.7), rgba(156, 55, 253, 0.7));
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  .card-border {
    border-radius: 20px;
    background-clip: padding-box;
    position: relative;
  }
  
  .card-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 0;
    pointer-events: none;
    border: 2px solid transparent;
    background: linear-gradient(#0B0F2B, #0B0F2B), linear-gradient(152.14deg, rgba(21, 191, 253, 0.7), rgba(156, 55, 253, 0.7));
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  .glass_container {
    background: rgba(255, 255, 255, 0.02);
    position: relative;
    z-index: 1;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    padding: 10px; /* Added padding to ensure content is not too close to the border */
    border-radius: 12px;
  }
  
  

  /* .bg{
    background-image: url(./assets/Background.svg);
    background-size: cover;
  } */

  /* .loader {
    width: 64px;
    height: 64px;
    position: relative;
    background-image:
      linear-gradient(#FFF 16px, transparent 0) ,
      linear-gradient(#6D7C43 16px, transparent 0) ,
      linear-gradient(#6D7C43 16px, transparent 0) ,
      linear-gradient(#FFF 16px, transparent 0);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left top , left bottom , right top , right bottom;
    animation: rotate 1s linear infinite;
  }
  @keyframes rotate {
    0% {
      width: 64px;
      height: 64px;
      transform: rotate(0deg)
    }
    50% {
      width: 30px;
      height: 30px;
      transform: rotate(180deg)
    }
    100% {
      width: 64px;
      height: 64px;
      transform: rotate(360deg)
    }


  } */

  .loader {
    width: 106px;
    height: 56px;
    display: block;
    margin: 30px auto;
    background-image: linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), radial-gradient(circle 14px, #FFF 100%, transparent 0);
    background-size: 48px 15px , 15px 35px, 15px 35px, 25px 15px, 28px 28px;
    background-position: 25px 5px, 58px 20px, 25px 17px, 2px 37px, 76px 0px;
    background-repeat: no-repeat;
    position: relative;
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  .loader::after,
  .loader::before {
    content: '';  
    position: absolute;
    width: 56px;
    height: 56px;
    border: 6px solid #FFF;
    border-radius: 50%;
    left: -45px;
    top: -10px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#FFF 64px, transparent 0), linear-gradient(#FFF 66px, transparent 0), radial-gradient(circle 4px, #FFF 100%, transparent 0);
    background-size: 40px 1px , 1px 40px, 8px 8px;
    background-position: center center;
    box-sizing: border-box;
    animation: rotation 0.3s linear infinite;
  }
  .loader::before {
    left: 25px;
    top: 60px;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  

